In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df=pd.read_csv("cardekho_dataset.csv",index_col=[0])

In [4]:
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15411 entries, 0 to 19543
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           15411 non-null  object
 1   brand              15411 non-null  object
 2   model              15411 non-null  object
 3   vehicle_age        15411 non-null  int64
 4   km_driven          15411 non-null  int64
 5   seller_type        15411 non-null  object
 6   fuel_type          15411 non-null  object
 7   transmission_type  15411 non-null  object
 8   mileage            15411 non-null  float64
 9   engine             15411 non-null  int64
 10  max_power          15411 non-null  float64
 11  seats              15411 non-null  int64
 12  selling_price      15411 non-null  int64
dtypes: float64(2), int64(5), object(6)
memory usage: 1.6+ MB

In [6]:
## checking if there are any null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [7]:
df.columns

Index(['car_name', 'brand', 'model', 'vehicle_age', 'km_driven', 'seller_type',
       'fuel_type', 'transmission_type', 'mileage', 'engine', 'max_power',
       'seats', 'selling_price'],
      dtype='object')

In [8]:
for feature in df.columns:
    if df[feature].dtype == 'O':
        print("Feature: ",feature)
        print(df[feature].unique(),end=" ")
        print(df[feature].value_counts())
        print(f"\n{"*"*100}\n")

Feature:  car_name
['Maruti Alto' 'Hyundai Grand' 'Hyundai i20' 'Ford Ecosport'
 'Maruti Wagon R' 'Hyundai i10' 'Hyundai Venue' 'Maruti Swift'
 'Hyundai Verna' 'Renault Duster' 'Mini Cooper' 'Maruti Ciaz'
 'Mercedes-Benz C-Class' 'Toyota Innova' 'Maruti Baleno'
 'Maruti Swift Dzire' 'Volkswagen Vento' 'Hyundai Creta' 'Honda City'
 'Mahindra Bolero' 'Toyota Fortuner' 'Renault KWID' 'Honda Amaze'
 'Hyundai Santro' 'Mahindra XUV500' 'Mahindra KUV100' 'Maruti Ignis'
 'Datsun RediGO' 'Mahindra Scorpio' 'Mahindra Marazzo' 'Ford Aspire'
 'Ford Figo' 'Maruti Vitara' 'Tata Tiago' 'Volkswagen Polo' 'Kia Seltos'
 'Maruti Celerio' 'Datsun GO' 'BMW 5' 'Honda CR-V' 'Ford Endeavour'
 'Mahindra KUV' 'Honda Jazz' 'BMW 3' 'Audi A4' 'Tata Tigor'
 'Maruti Ertiga' 'Tata Safari' 'Mahindra Thar' 'Tata Hexa'
 'Land Rover Rover' 'Maruti Eeco' 'Audi A6' 'Mercedes-Benz E-Class'
 'Audi Q7' 'BMW Z4' 'BMW 6' 'Jaguar XF' 'BMW X5' 'MG Hector' 'Honda Civic'
 'Isuzu D-Max' 'Porsche Cayenne' 'BMW X1' 'Skoda Rapid' 'Ford Freestyle'
 'Skoda Superb' 'Tata Nexon' 'Mahindra XUV300' 'Maruti Dzire VXI'
 'Volvo S90' 'Honda WR-V' 'Maruti XL6' 'Renault Triber' 'Lexus ES'
 'Jeep Wrangler' 'Toyota Camry' 'Hyundai Elantra' 'Toyota Yaris'
 'Mercedes-Benz GL-Class' 'BMW 7' 'Maruti S-Presso' 'Maruti Dzire LXI'
 'Hyundai Aura' 'Volvo XC' 'Maserati Ghibli' 'Bentley Continental'
 'Honda CR' 'Nissan Kicks' 'Mercedes-Benz S-Class' 'Hyundai Tucson'
 'Tata Harrier' 'BMW X3' 'Skoda Octavia' 'Jeep Compass'
 'Mercedes-Benz CLS' 'Datsun redi-GO' 'Toyota Glanza' 'Porsche Macan'
 'BMW X4' 'Maruti Dzire ZXI' 'Volvo XC90' 'Jaguar F-PACE' 'Audi A8'
 'ISUZU MUX' 'Ferrari GTC4Lusso' 'Mercedes-Benz GLS' 'Nissan X-Trail'
 'Jaguar XE' 'Volvo XC60' 'Porsche Panamera' 'Mahindra Alturas'
 'Tata Altroz' 'Lexus NX' 'Kia Carnival' 'Mercedes-AMG C' 'Lexus RX'
 'Rolls-Royce Ghost' 'Maserati Quattroporte' 'Isuzu MUX' 'Force Gurkha'] car_name
Hyundai i20           906
Maruti Swift Dzire    890
Maruti Swift          781
Maruti Alto           778
Honda City            757
                     ...
Mercedes-AMG C          1
Tata Altroz             1
Ferrari GTC4Lusso       1
Hyundai Aura            1
Force Gurkha            1
Name: count, Length: 121, dtype: int64

****************************************************************************************************

Feature:  brand
['Maruti' 'Hyundai' 'Ford' 'Renault' 'Mini' 'Mercedes-Benz' 'Toyota'
 'Volkswagen' 'Honda' 'Mahindra' 'Datsun' 'Tata' 'Kia' 'BMW' 'Audi'
 'Land Rover' 'Jaguar' 'MG' 'Isuzu' 'Porsche' 'Skoda' 'Volvo' 'Lexus'
 'Jeep' 'Maserati' 'Bentley' 'Nissan' 'ISUZU' 'Ferrari' 'Mercedes-AMG'
 'Rolls-Royce' 'Force'] brand
Maruti           4992
Hyundai          2982
Honda            1485
Mahindra         1011
Toyota            793
Ford              790
Volkswagen        620
Renault           536
BMW               439
Tata              430
Mercedes-Benz     337
Skoda             334
Audi              192
Datsun            170
Jaguar             59
Land Rover         51
Jeep               41
Kia                32
Porsche            21
Volvo              20
MG                 19
Mini               17
Nissan             11
Lexus              10
Isuzu               8
Bentley             3
Maserati            2
ISUZU               2
Ferrari             1
Mercedes-AMG        1
Rolls-Royce         1
Force               1
Name: count, dtype: int64

****************************************************************************************************

Feature:  model
['Alto' 'Grand' 'i20' 'Ecosport' 'Wagon R' 'i10' 'Venue' 'Swift' 'Verna'
 'Duster' 'Cooper' 'Ciaz' 'C-Class' 'Innova' 'Baleno' 'Swift Dzire'
 'Vento' 'Creta' 'City' 'Bolero' 'Fortuner' 'KWID' 'Amaze' 'Santro'
 'XUV500' 'KUV100' 'Ignis' 'RediGO' 'Scorpio' 'Marazzo' 'Aspire' 'Figo'
 'Vitara' 'Tiago' 'Polo' 'Seltos' 'Celerio' 'GO' '5' 'CR-V' 'Endeavour'
 'KUV' 'Jazz' '3' 'A4' 'Tigor' 'Ertiga' 'Safari' 'Thar' 'Hexa' 'Rover'
 'Eeco' 'A6' 'E-Class' 'Q7' 'Z4' '6' 'XF' 'X5' 'Hector' 'Civic' 'D-Max'
 'Cayenne' 'X1' 'Rapid' 'Freestyle' 'Superb' 'Nexon' 'XUV300' 'Dzire VXI'
 'S90' 'WR-V' 'XL6' 'Triber' 'ES' 'Wrangler' 'Camry' 'Elantra' 'Yaris'
 'GL-Class' '7' 'S-Presso' 'Dzire LXI' 'Aura' 'XC' 'Ghibli' 'Continental'
 'CR' 'Kicks' 'S-Class' 'Tucson' 'Harrier' 'X3' 'Octavia' 'Compass' 'CLS'
 'redi-GO' 'Glanza' 'Macan' 'X4' 'Dzire ZXI' 'XC90' 'F-PACE' 'A8' 'MUX'
 'GTC4Lusso' 'GLS' 'X-Trail' 'XE' 'XC60' 'Panamera' 'Alturas' 'Altroz'
 'NX' 'Carnival' 'C' 'RX' 'Ghost' 'Quattroporte' 'Gurkha'] model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

****************************************************************************************************

Feature:  seller_type
['Individual' 'Dealer' 'Trustmark Dealer'] seller_type
Dealer              9539
Individual          5699
Trustmark Dealer     173
Name: count, dtype: int64

****************************************************************************************************

Feature:  fuel_type
['Petrol' 'Diesel' 'CNG' 'LPG' 'Electric'] fuel_type
Petrol      7643
Diesel      7419
CNG          301
LPG           44
Electric       4
Name: count, dtype: int64

****************************************************************************************************

Feature:  transmission_type
['Manual' 'Automatic'] transmission_type
Manual       12225
Automatic     3186
Name: count, dtype: int64

****************************************************************************************************

In [9]:
car_counts=df['car_name'].value_counts()

In [10]:
valid_car_list=car_counts[car_counts>250]

In [11]:
print(type(valid_car_list))

<class 'pandas.core.series.Series'>

In [12]:
valid_car_list

car_name
Hyundai i20           906
Maruti Swift Dzire    890
Maruti Swift          781
Maruti Alto           778
Honda City            757
Maruti Wagon R        717
Hyundai Grand         580
Toyota Innova         545
Hyundai Verna         492
Hyundai i10           410
Ford Ecosport         374
Volkswagen Polo       373
Maruti Baleno         364
Honda Amaze           362
Maruti Ciaz           346
Maruti Ertiga         343
Hyundai Creta         336
Mahindra XUV500       330
Renault KWID          306
Maruti Vitara         295
Mahindra Scorpio      273
Ford Figo             271
Name: count, dtype: int64

In [13]:
len(valid_car_list)

22

In [14]:
new = df[df['car_name'].isin(valid_car_list.index)]

In [15]:
df

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19541,Skoda Rapid,Skoda,Rapid,6,67000,Dealer,Diesel,Manual,21.14,1498,103.52,5,425000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [16]:
new

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19536,Hyundai Grand,Hyundai,Grand,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5,545000
19537,Hyundai i10,Hyundai,i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,Maruti,Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19542,Mahindra XUV500,Mahindra,XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,Honda,City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [17]:
print(type(new))

<class 'pandas.core.frame.DataFrame'>

In [18]:
new.drop(['brand','model'],axis=1,inplace=True)

C:\Users\Yash\AppData\Local\Temp\ipykernel_5268\2004479835.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new.drop(['brand','model'],axis=1,inplace=True)

In [19]:
new

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
19536,Hyundai Grand,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5,545000
19537,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19542,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [20]:
len(new['selling_price'])

10829

In [21]:
new['car_name'].value_counts()

car_name
Hyundai i20           906
Maruti Swift Dzire    890
Maruti Swift          781
Maruti Alto           778
Honda City            757
Maruti Wagon R        717
Hyundai Grand         580
Toyota Innova         545
Hyundai Verna         492
Hyundai i10           410
Ford Ecosport         374
Volkswagen Polo       373
Maruti Baleno         364
Honda Amaze           362
Maruti Ciaz           346
Maruti Ertiga         343
Hyundai Creta         336
Mahindra XUV500       330
Renault KWID          306
Maruti Vitara         295
Mahindra Scorpio      273
Ford Figo             271
Name: count, dtype: int64

In [22]:
## Getting all categories of features which are of "object" data type
for feature in new.columns:
    if new[feature].dtype == 'O':
        print("Feature: ",feature)
        print(new[feature].unique(),end=" ")
        print(new[feature].value_counts())
        print(f"\n{"*"*100}\n")

Feature:  car_name
['Maruti Alto' 'Hyundai Grand' 'Hyundai i20' 'Ford Ecosport'
 'Maruti Wagon R' 'Hyundai i10' 'Maruti Swift' 'Hyundai Verna'
 'Maruti Ciaz' 'Toyota Innova' 'Maruti Baleno' 'Maruti Swift Dzire'
 'Hyundai Creta' 'Honda City' 'Renault KWID' 'Honda Amaze'
 'Mahindra XUV500' 'Mahindra Scorpio' 'Ford Figo' 'Maruti Vitara'
 'Volkswagen Polo' 'Maruti Ertiga'] car_name
Hyundai i20           906
Maruti Swift Dzire    890
Maruti Swift          781
Maruti Alto           778
Honda City            757
Maruti Wagon R        717
Hyundai Grand         580
Toyota Innova         545
Hyundai Verna         492
Hyundai i10           410
Ford Ecosport         374
Volkswagen Polo       373
Maruti Baleno         364
Honda Amaze           362
Maruti Ciaz           346
Maruti Ertiga         343
Hyundai Creta         336
Mahindra XUV500       330
Renault KWID          306
Maruti Vitara         295
Mahindra Scorpio      273
Ford Figo             271
Name: count, dtype: int64

****************************************************************************************************

Feature:  seller_type
['Individual' 'Dealer' 'Trustmark Dealer'] seller_type
Dealer              6549
Individual          4127
Trustmark Dealer     153
Name: count, dtype: int64

****************************************************************************************************

Feature:  fuel_type
['Petrol' 'Diesel' 'CNG' 'LPG'] fuel_type
Petrol    5781
Diesel    4784
CNG        228
LPG         36
Name: count, dtype: int64

****************************************************************************************************

Feature:  transmission_type
['Manual' 'Automatic'] transmission_type
Manual       9614
Automatic    1215
Name: count, dtype: int64

****************************************************************************************************

In [23]:
new=new[new['fuel_type'].isin(['Petrol','Diesel'])]

In [24]:
new

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
19536,Hyundai Grand,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5,545000
19537,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19542,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [25]:
print(new["seller_type"].value_counts())

seller_type
Dealer              6366
Individual          4060
Trustmark Dealer     139
Name: count, dtype: int64

In [26]:
new=new[new['seller_type'].isin(['Dealer','Individual'])]

In [27]:
new

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
19536,Hyundai Grand,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5,545000
19537,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
19540,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
19542,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
19543,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [28]:
new.describe()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,10426.000000,1.042600e+04,10426.000000,10426.000000,10426.000000,10426.000000,1.042600e+04
mean,6.147612,5.665077e+04,20.299359,1370.513716,89.312110,5.305486,5.829741e+05
std,2.995181,5.396232e+04,3.849705,394.344147,23.401568,0.790715,3.134781e+05
min,1.000000,1.000000e+03,9.000000,796.000000,46.300000,0.000000,4.000000e+04
25%,4.000000,3.100000e+04,17.700000,1197.000000,74.000000,5.000000,3.600000e+05
50%,6.000000,5.000000e+04,20.360000,1248.000000,83.110000,5.000000,5.300000e+05
75%,8.000000,7.122600e+04,22.900000,1498.000000,100.000000,5.000000,7.250000e+05
max,29.000000,3.800000e+06,28.400000,2755.000000,189.000000,9.000000,2.350000e+06

In [29]:
## Numerical Features
num_features=[feature for feature in new.columns if new[feature].dtype!="O"]
print("Total Number of numerical features are:",len(num_features))

Total Number of numerical features are: 7

In [30]:
## categorical features
cat_features=[feature for feature in new.columns if new[feature].dtype=="O"]
print("Total Number of categorical features are:",len(cat_features))

Total Number of categorical features are: 4

In [31]:
## discrete features
dis_features=[feature for feature in num_features if len(new[feature].unique())<=25]
print("Total Number of discrete features are:",len(dis_features))

Total Number of discrete features are: 2

In [32]:
print(dis_features)

['vehicle_age', 'seats']

In [33]:
new['vehicle_age'].unique()

array([ 9,  5, 11,  6,  8,  3,  4,  7,  2, 14, 15, 10, 12,  1, 13, 16, 17,
       18, 29, 19, 21, 22], dtype=int64)

In [34]:
new['seats'].unique()

array([5, 8, 7, 9, 4, 0], dtype=int64)

In [35]:
new['seats'].value_counts()

seats
5    8999
7    1104
8     296
9      24
4       2
0       1
Name: count, dtype: int64

In [36]:
## continuous features
cont_features=[feature for feature in num_features if feature not in dis_features]
print("Total Number of continuous features are:",len(cont_features))

Total Number of continuous features are: 5

In [37]:
cont_features

['km_driven', 'mileage', 'engine', 'max_power', 'selling_price']

In [38]:
new.shape

(10426, 11)

In [39]:
new=new[~new['seats'].isin([0])]

In [40]:
new.shape

(10425, 11)

In [41]:
new.head(3)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.0,1197,80.0,5,215000

In [42]:
new=new.reset_index(drop=True)

In [43]:
new

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
10420,Hyundai Grand,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5,545000
10421,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
10422,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
10423,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
10424,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [44]:
new.to_csv("cardekho_datasetUPDATED.csv")

In [45]:
## Independent and dependent features
X=new.drop(['selling_price'],axis=1)
y=new['selling_price']

In [46]:
X.head(5)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [47]:
y.head(5)

0    120000
1    550000
2    215000
3    226000
4    570000
Name: selling_price, dtype: int64

In [48]:
## label incoding on car_names
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
X['car_name']=le.fit_transform(X['car_name'])

In [49]:
print(X['car_name'])

0        11
1         5
2         8
3        11
4         0
         ..
10420     5
10421     7
10422    14
10423    10
10424     3
Name: car_name, Length: 10425, dtype: int32

In [50]:
print(X['car_name'].value_counts())

car_name
8     886
16    869
15    770
3     748
11    727
5     566
18    554
20    543
6     486
7     400
21    373
0     367
12    356
2     355
13    339
4     330
10    329
19    304
17    293
14    289
9     272
1     269
Name: count, dtype: int64

In [51]:
## checking no. of categories
len(new['seller_type'].unique())

2

In [52]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [53]:
X.head()

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,11,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,5,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,8,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,11,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,0,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [54]:
col_names=X.columns

In [55]:
col_names

Index(['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats'],
      dtype='object')

In [56]:
print(type(col_names))

<class 'pandas.core.indexes.base.Index'>

In [57]:
def func(n):
    s=n*n
    c=n**3
    return s,c

In [58]:
func(5)[1]

125

In [59]:
print(type(func))

<class 'function'>

In [60]:
# Create Column Transformer with 3 types of transformers
numeric_features=X.select_dtypes(exclude='object').columns
# onehot_columns=['seller_type','fuel_type','transmission_type']
onehot_columns=['seller_type','fuel_type','transmission_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer=StandardScaler()
oh_transformer=OneHotEncoder(drop='first')

preprocessor=ColumnTransformer(
    [
        ('OneHotEncoder', oh_transformer, onehot_columns),
        ('StandardScaler', numeric_transformer, numeric_features)
    ], remainder='passthrough'
)


# ================================== My Code===============================
# def OneHotEncode(df):
#     from sklearn.preprocessing import OneHotEncoder
#     ohe = OneHotEncoder(drop='first')
#     feature_arr = ohe.fit_transform(df[['seller_type','fuel_type','transmission_type']])
#     feature_labels = ohe.categories_

# from sklearn.preprocessing import OneHotEncoder
# oh_sellr=OneHotEncoder(drop='first')
# oh_fuel=OneHotEncoder(drop='first')
# oh_transmition=OneHotEncoder(drop='first')

# X['seller_type']=oh_sellr.fit_transform(X['seller_type'])
# X['fuel_type']=oh_sellr.fit_transform(X['fuel_type'])
# X['transmission_type']=oh_sellr.fit_transform(X['transmission_type'])

# =========================================================================

# -----------------------------------------------------------------------

# # Create Column Transformer with 3 types of transformers
# numeric_features=X.select_dtypes(exclude='object').columns
# # onehot_columns=['seller_type','fuel_type','transmission_type']
# onehot_columns=['seller_type','fuel_type','transmission_type']

# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# from sklearn.compose import ColumnTransformer

# numeric_transformer=StandardScaler()
# oh_transformer=OneHotEncoder(drop='first')

# preprocessor=ColumnTransformer(
#     [
#         ('OneHotEncoder', OneHotEncoder(drop='first'), [3,4,5]),
#         ('StandardScaler', StandardScaler(), [0,1,2,6,7,8,9])
#     ], remainder='passthrough'
# )
# -------------------------------------------------------------------------

# 'car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
    #    'transmission_type', 'mileage', 'engine', 'max_power', 'seats'

# def get_features_fitT(df):
#     n_columns=[feature for feature in df.columns if df[feature].dtype!="O"]
#     ohe_columns=[feature for feature in df.columns if df[feature].dtype=="O"]

#     # n_columns=[0,1,2,6,7,8,9]
#     # ohe_columns=[3,4,5]
#     # return ohe_columns,n_columns
    
#     from sklearn.preprocessing import OneHotEncoder, StandardScaler
#     from sklearn.compose import ColumnTransformer

#     preprocessor=ColumnTransformer(
        
#         [
#             ('OneHotEncoder', OneHotEncoder(drop='first',handle_unknown='ignore'), ohe_columns),
#             ('StandardScaler', StandardScaler(),n_columns)
#         ], remainder='passthrough'
#     )
#     return preprocessor.fit(X)

# ---------------------------------

# process=get_features_fitT(X)


# from sklearn.preprocessing import OneHotEncoder, StandardScaler
# # from sklearn.compose import ColumnTransformer
# from sklearn.compose import make_column_transformer,make_column_selector


# preprocessor=make_column_transformer(
       
#    (OneHotEncoder(drop='first'), make_column_selector(dtype_include=np.number)),
#    (StandardScaler(), make_column_selector(dtype_include=object))
#     ,remainder='passthrough'
# )


## Create Column Transformer with 3 types of transformers
# def func(sample):
#     numeric_features=[feature for feature in sample.columns if sample[feature].dtype!="O"]
#     # onehot_columns=['seller_type','fuel_type','transmission_type']
#     onehot_columns=[feature for feature in sample.columns if sample[feature].dtype=="O"]

#     from sklearn.preprocessing import OneHotEncoder, StandardScaler
#     from sklearn.compose import ColumnTransformer

#     numeric_transformer=StandardScaler()
#     oh_transformer=OneHotEncoder(drop='first')

#     preprocessor=ColumnTransformer(
#         [
#             ('OneHotEncoder', oh_transformer, onehot_columns),
#             ('StandardScaler', numeric_transformer, numeric_features)
#         ], remainder='passthrough'
#     )

#     return preprocessor
    
# ----------------------------
# # ------------------
# preprocessor=ColumnTransformer(
#         [
#             ('OneHotEncoder', oh_transformer, onehot_columns),
#             ('StandardScaler', numeric_transformer, numeric_features)
#         ], remainder='passthrough'
#     )

In [61]:
# X=OneHotEncode(X)

In [62]:
X

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,11,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,5,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,8,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,11,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,0,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5
...,...,...,...,...,...,...,...,...,...,...
10420,5,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5
10421,7,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5
10422,14,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7
10423,10,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7
10424,3,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5

In [63]:
## train test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [64]:
## Model Training and Model Selection
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor

In [65]:
X_train.head(5)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
2471,2,6,190000,Individual,Diesel,Manual,25.80,1498,98.60,5
5532,19,2,4500,Dealer,Petrol,Automatic,24.04,999,67.00,5
4169,17,3,40000,Individual,Diesel,Manual,24.30,1248,88.50,5
10106,15,13,73000,Dealer,Diesel,Manual,17.80,1248,75.00,5
5155,0,3,24000,Dealer,Petrol,Automatic,14.80,1497,121.36,5

In [66]:
## using preprocessor
X_train=preprocessor.fit_transform(X_train)
# X_train=preprocessor.transform(X_train)

X_test=preprocessor.transform(X_test)

In [67]:
pd.DataFrame(X_train)

,0,1,2,3,4,5,6,7,8,9
0,1.0,0.0,1.0,-1.416693,-0.046456,3.329999,1.431863,0.328192,0.399678,-0.384203
1,0.0,1.0,0.0,1.362454,-1.391642,-1.287777,0.973787,-0.951893,-0.966997,-0.384203
2,1.0,0.0,1.0,1.035496,-1.055345,-0.404052,1.041458,-0.313133,-0.037139,-0.384203
3,0.0,0.0,1.0,0.708537,2.307620,0.417439,-0.650300,-0.313133,-0.621003,-0.384203
4,0.0,1.0,0.0,-1.743652,-1.055345,-0.802351,-1.431111,0.325627,1.384030,-0.384203
...,...,...,...,...,...,...,...,...,...,...
7292,1.0,1.0,1.0,-0.435818,0.626137,-0.652989,-0.468111,-0.443963,-0.281497,-0.384203
7293,1.0,1.0,1.0,-0.599297,0.289841,0.168502,-0.127157,-0.728712,-0.921585,-0.384203
7294,1.0,0.0,1.0,-1.089735,-0.046456,1.338505,-0.163594,0.543678,1.593356,-0.384203
7295,1.0,1.0,0.0,0.872016,-1.055345,-1.275331,0.237222,-0.443963,-0.326909,-0.384203
7296,0.0,0.0,1.0,1.525933,-0.046456,0.716163,-1.902201,2.883233,0.486176,2.169102

In [68]:
pd.DataFrame(X_train,columns=preprocessor.get_feature_names_out())

,OneHotEncoder__seller_type_Individual,OneHotEncoder__fuel_type_Petrol,OneHotEncoder__transmission_type_Manual,StandardScaler__car_name,StandardScaler__vehicle_age,StandardScaler__km_driven,StandardScaler__mileage,StandardScaler__engine,StandardScaler__max_power,StandardScaler__seats
0,1.0,0.0,1.0,-1.416693,-0.046456,3.329999,1.431863,0.328192,0.399678,-0.384203
1,0.0,1.0,0.0,1.362454,-1.391642,-1.287777,0.973787,-0.951893,-0.966997,-0.384203
2,1.0,0.0,1.0,1.035496,-1.055345,-0.404052,1.041458,-0.313133,-0.037139,-0.384203
3,0.0,0.0,1.0,0.708537,2.307620,0.417439,-0.650300,-0.313133,-0.621003,-0.384203
4,0.0,1.0,0.0,-1.743652,-1.055345,-0.802351,-1.431111,0.325627,1.384030,-0.384203
...,...,...,...,...,...,...,...,...,...,...
7292,1.0,1.0,1.0,-0.435818,0.626137,-0.652989,-0.468111,-0.443963,-0.281497,-0.384203
7293,1.0,1.0,1.0,-0.599297,0.289841,0.168502,-0.127157,-0.728712,-0.921585,-0.384203
7294,1.0,0.0,1.0,-1.089735,-0.046456,1.338505,-0.163594,0.543678,1.593356,-0.384203
7295,1.0,1.0,0.0,0.872016,-1.055345,-1.275331,0.237222,-0.443963,-0.326909,-0.384203
7296,0.0,0.0,1.0,1.525933,-0.046456,0.716163,-1.902201,2.883233,0.486176,2.169102

In [69]:
## Creating a function to evaluat model
def evaluate_model(true, predicted):
    mae=mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rmse=np.sqrt(mse)
    r2=r2_score(true,predicted)
    print("R2 Score:{:.4f}".format(r2))
    print("MSE:{:.4f}".format(mse))
    print("RMSE:{:.4f}".format(rmse))
    print("MAE:{:.4f}".format(mae))
    # ---------
    return 0

In [70]:
## Model training
models={
    "Linear Regression":LinearRegression(),
    "Lasso":Lasso(),
    "Ridge":Ridge(),
    "Decision Tree Regressor":DecisionTreeRegressor(),
    "K Neighbors Regressor":KNeighborsRegressor(),
    "Random Forest Regressor":RandomForestRegressor()
}

for i in range(len(list(models))):
    model=list(models.values())[i]
    model.fit(X_train,y_train) ## Train Model

    ## Make Predictions
    y_train_pred=model.predict(X_train)
    y_test_pred=model.predict(X_test)

    print(list(models.keys())[i],"=============>")
    print("Evaluating Train Dataset")
    evaluate_model(y_train,y_train_pred)
    print(f"\n{"-"*50}\n")
    print("Evaluating Test Dataset")
    evaluate_model(y_test,y_test_pred)
    print("="*50)
    print("\n")

Linear Regression =============>
Evaluating Train Dataset
R2 Score:0.8004
MSE:19435921126.9753
RMSE:139412.7725
MAE:103357.4910

--------------------------------------------------

Evaluating Test Dataset
R2 Score:0.7756
MSE:22487014198.2886
RMSE:149956.7077
MAE:107355.2857
==================================================


Lasso =============>
Evaluating Train Dataset
R2 Score:0.8004
MSE:19435921158.2508
RMSE:139412.7726
MAE:103357.4554

--------------------------------------------------

Evaluating Test Dataset
R2 Score:0.7756
MSE:22486811476.5924
RMSE:149956.0318
MAE:107355.1349
==================================================


Ridge =============>
Evaluating Train Dataset
R2 Score:0.8004
MSE:19435927252.2429
RMSE:139412.7944
MAE:103356.7130

--------------------------------------------------

Evaluating Test Dataset
R2 Score:0.7756
MSE:22486247456.8678
RMSE:149954.1512
MAE:107353.8358
==================================================


Decision Tree Regressor =============>
Evaluating Train Dataset
R2 Score:0.9958
MSE:405352181.2617
RMSE:20133.3599
MAE:5416.7375

--------------------------------------------------

Evaluating Test Dataset
R2 Score:0.8622
MSE:13814554938.9031
RMSE:117535.3349
MAE:81027.8453
==================================================


K Neighbors Regressor =============>
Evaluating Train Dataset
R2 Score:0.9363
MSE:6203258292.7916
RMSE:78760.7662
MAE:56933.3288

--------------------------------------------------

Evaluating Test Dataset
R2 Score:0.9045
MSE:9574778920.2366
RMSE:97850.7993
MAE:69554.6835
==================================================


Random Forest Regressor =============>
Evaluating Train Dataset
R2 Score:0.9841
MSE:1548877489.8904
RMSE:39355.7809
MAE:27659.5060

--------------------------------------------------

Evaluating Test Dataset
R2 Score:0.9040
MSE:9625122903.3977
RMSE:98107.7107
MAE:67071.1620
==================================================


## Here the best performance is of RandomForestRegressor
- Evaluating Train Dataset
- R2 Score:0.9842
- MSE:1536356313.5192
- RMSE:39196.3814
- MAE:27531.7352
- --------------------------------------------------
- Evaluating Test Dataset
- R2 Score:0.9042
- MSE:9605181232.6885
- RMSE:98006.0265
- MAE:66838.7840

In [71]:
RFregressor=RandomForestRegressor()
RFregressor.fit(X_train,y_train)

RandomForestRegressor()

In [72]:
y_pred=RFregressor.predict(X_test)

In [73]:
## Calculating Accuracy
evaluate_model(y_test,y_pred)

R2 Score:0.9038
MSE:9638080621.5789
RMSE:98173.7267
MAE:67221.7997

0

In [74]:
RFregressor

RandomForestRegressor()

In [75]:
le

LabelEncoder()

In [76]:
## Pickling the model
import pickle
pickle.dump(preprocessor,open('models/processor.pkl','wb'))
pickle.dump(RFregressor,open('models/model.pkl','wb'))
pickle.dump(le,open('models/labelEncoder.pkl','wb'))

In [77]:
new.head(5)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [78]:
new.dtypes

car_name              object
vehicle_age            int64
km_driven              int64
seller_type           object
fuel_type             object
transmission_type     object
mileage              float64
engine                 int64
max_power            float64
seats                  int64
selling_price          int64
dtype: object

In [79]:
cols=['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type','transmission_type', 'mileage', 'engine', 'max_power', 'seats']

In [80]:
cols

['car_name',
 'vehicle_age',
 'km_driven',
 'seller_type',
 'fuel_type',
 'transmission_type',
 'mileage',
 'engine',
 'max_power',
 'seats']

In [81]:
inp=pd.DataFrame([["Maruti Alto",5,10000,"Individual","Petrol","Manual",20.50,780,48.50,5]],columns=cols)

In [82]:
inp['car_name']=le.transform(inp['car_name'])

In [83]:
inp=preprocessor.transform(inp)

In [84]:
ans=RFregressor.predict(inp)

In [85]:
ans

array([295561.66666667])

In [86]:
inp1=pd.DataFrame([["Maruti Alto",10,15000,"Individual","Petrol","Manual",18.40,790,44.40,5]],columns=cols)

In [87]:
inp1['car_name']=le.transform(inp1['car_name'])

In [88]:
inp1=preprocessor.transform(inp1)

In [89]:
ans_of_inp1=RFregressor.predict(inp1)

In [90]:
ans_of_inp1

array([175530.])

In [91]:
inp2=pd.DataFrame([["Maruti Alto",5,120000,"Individual","Petrol","Manual",19.70,780,48.50,5]],columns=cols)
inp2['car_name']=le.transform(inp2['car_name'])
inp2=preprocessor.transform(inp2)

In [92]:
ans_of_inp2=RFregressor.predict(inp2)

In [93]:
ans_of_inp2

array([203110.])

In [94]:
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error
print("R2 Score",r2_score([120000],[207250]))
print("MAE",mean_absolute_error([120000],[207250]))
print("MSE",mean_squared_error([120000],[207250]))

R2 Score nan
MAE 87250.0
MSE -977372092.0

c:\Users\Yash\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:1211: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [95]:
new['car_name'].unique()

array(['Maruti Alto', 'Hyundai Grand', 'Hyundai i20', 'Ford Ecosport',
       'Maruti Wagon R', 'Hyundai i10', 'Maruti Swift', 'Hyundai Verna',
       'Maruti Ciaz', 'Toyota Innova', 'Maruti Baleno',
       'Maruti Swift Dzire', 'Hyundai Creta', 'Honda City',
       'Renault KWID', 'Honda Amaze', 'Mahindra XUV500',
       'Mahindra Scorpio', 'Maruti Vitara', 'Volkswagen Polo',
       'Ford Figo', 'Maruti Ertiga'], dtype=object)

In [96]:
new.columns

Index(['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [97]:
new['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [98]:
max_power_list=new['max_power']

In [99]:
len(max_power_list)

10425

In [100]:
max_power_list

0         46.30
1         82.00
2         80.00
3         67.10
4         98.59
          ...
10420     82.00
10421     68.05
10422     91.10
10423    140.00
10424    117.60
Name: max_power, Length: 10425, dtype: float64

In [101]:
max(max_power_list)

189.0

In [102]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10425 entries, 0 to 10424
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           10425 non-null  object
 1   vehicle_age        10425 non-null  int64
 2   km_driven          10425 non-null  int64
 3   seller_type        10425 non-null  object
 4   fuel_type          10425 non-null  object
 5   transmission_type  10425 non-null  object
 6   mileage            10425 non-null  float64
 7   engine             10425 non-null  int64
 8   max_power          10425 non-null  float64
 9   seats              10425 non-null  int64
 10  selling_price      10425 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 896.0+ KB

In [103]:
new['seller_type'].unique()

array(['Individual', 'Dealer'], dtype=object)

In [104]:
new

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000
...,...,...,...,...,...,...,...,...,...,...,...
10420,Hyundai Grand,5,9229,Dealer,Petrol,Manual,18.90,1197,82.00,5,545000
10421,Hyundai i10,9,10723,Dealer,Petrol,Manual,19.81,1086,68.05,5,250000
10422,Maruti Ertiga,2,18000,Dealer,Petrol,Manual,17.50,1373,91.10,7,925000
10423,Mahindra XUV500,5,3800000,Dealer,Diesel,Manual,16.00,2179,140.00,7,1225000
10424,Honda City,2,13000,Dealer,Petrol,Automatic,18.00,1497,117.60,5,1200000

In [105]:
new.head(5)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [106]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10425 entries, 0 to 10424
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           10425 non-null  object
 1   vehicle_age        10425 non-null  int64
 2   km_driven          10425 non-null  int64
 3   seller_type        10425 non-null  object
 4   fuel_type          10425 non-null  object
 5   transmission_type  10425 non-null  object
 6   mileage            10425 non-null  float64
 7   engine             10425 non-null  int64
 8   max_power          10425 non-null  float64
 9   seats              10425 non-null  int64
 10  selling_price      10425 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 896.0+ KB

In [107]:
new.head()

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [108]:
new.describe()

,vehicle_age,km_driven,mileage,engine,max_power,seats,selling_price
count,10425.000000,1.042500e+04,10425.000000,10425.000000,10425.000000,10425.000000,1.042500e+04
mean,6.146475,5.665237e+04,20.300059,1370.501966,89.311085,5.305995,5.830190e+05
std,2.993074,5.396466e+04,3.849226,394.361236,23.402456,0.789044,3.134596e+05
min,1.000000,1.000000e+03,9.000000,796.000000,46.300000,4.000000,4.000000e+04
25%,4.000000,3.100000e+04,17.700000,1197.000000,74.000000,5.000000,3.600000e+05
50%,6.000000,5.000000e+04,20.360000,1248.000000,83.110000,5.000000,5.300000e+05
75%,8.000000,7.123300e+04,22.900000,1498.000000,100.000000,5.000000,7.250000e+05
max,29.000000,3.800000e+06,28.400000,2755.000000,189.000000,9.000000,2.350000e+06

In [109]:
new.head(3)

,car_name,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,9,120000,Individual,Petrol,Manual,19.7,796,46.3,5,120000
1,Hyundai Grand,5,20000,Individual,Petrol,Manual,18.9,1197,82.0,5,550000
2,Hyundai i20,11,60000,Individual,Petrol,Manual,17.0,1197,80.0,5,215000

In [110]:
new['vehicle_age'].max()

29

In [111]:
def min_max(l):
    for i in l:
        print(f"--------- For {i} -----------")
        print(f"Min: {new[i].min()}")
        print(f"Max: {new[i].max()}")
        print()

In [112]:
new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10425 entries, 0 to 10424
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   car_name           10425 non-null  object
 1   vehicle_age        10425 non-null  int64
 2   km_driven          10425 non-null  int64
 3   seller_type        10425 non-null  object
 4   fuel_type          10425 non-null  object
 5   transmission_type  10425 non-null  object
 6   mileage            10425 non-null  float64
 7   engine             10425 non-null  int64
 8   max_power          10425 non-null  float64
 9   seats              10425 non-null  int64
 10  selling_price      10425 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 896.0+ KB

In [113]:
new.columns

Index(['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')

In [114]:
numeric_features_list=[feature for feature in new.columns if new[feature].dtype!='O']

In [115]:
numeric_features_list

['vehicle_age',
 'km_driven',
 'mileage',
 'engine',
 'max_power',
 'seats',
 'selling_price']

In [116]:
min_max(numeric_features_list)

--------- For vehicle_age -----------
Min: 1
Max: 29

--------- For km_driven -----------
Min: 1000
Max: 3800000

--------- For mileage -----------
Min: 9.0
Max: 28.4

--------- For engine -----------
Min: 796
Max: 2755

--------- For max_power -----------
Min: 46.3
Max: 189.0

--------- For seats -----------
Min: 4
Max: 9

--------- For selling_price -----------
Min: 40000
Max: 2350000

In [117]:
new['car_name'].unique()

array(['Maruti Alto', 'Hyundai Grand', 'Hyundai i20', 'Ford Ecosport',
       'Maruti Wagon R', 'Hyundai i10', 'Maruti Swift', 'Hyundai Verna',
       'Maruti Ciaz', 'Toyota Innova', 'Maruti Baleno',
       'Maruti Swift Dzire', 'Hyundai Creta', 'Honda City',
       'Renault KWID', 'Honda Amaze', 'Mahindra XUV500',
       'Mahindra Scorpio', 'Maruti Vitara', 'Volkswagen Polo',
       'Ford Figo', 'Maruti Ertiga'], dtype=object)

In [118]:
new.columns

Index(['car_name', 'vehicle_age', 'km_driven', 'seller_type', 'fuel_type',
       'transmission_type', 'mileage', 'engine', 'max_power', 'seats',
       'selling_price'],
      dtype='object')